html {
    background-image: url(../images/background.jpg);
}

body {
    width: 650px;
    margin: auto;
    height: 600px;
    background-color: rgb(221, 221, 221, 0.5);
    margin-top: 200px;
}

.container {
    width: 550px;
    margin: auto
}

/* header {
    background-image: url(../images/office\ header.jpg);
    height: 200px;
} */

#choices {
    margin: auto;
}

.row {
    margin: auto;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}